.svn
*.gem
*~
nbproject
pkg
vendor/ruby
_site
~images
~javascripts
~stylesheets
*(old).*
*wxltest*
Gemfile.lock

.tags
.tags_sorted_by_file
public/sitemap1.xml.gz
public/sitemap_index.xml.gz
nohup.out
